.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 704px;
    height: 417px;
    background: #FFFFFF;
    box-sizing: content-box;
}

.logo-wrap-footer {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    right: 25%;
    margin-right: 33vw;
}

.text-logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 195px;
}

.text-logo-footer h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.text-logo-footer span {
    color: #E9841A;
}

.text-logo-footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.map {
    width: 260px;
    margin-left: 2.8vw;
}

.footer-text-block {
    display: flex;
    margin-top: 20px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77px;
    height: 210px;
    margin-left: 3vw;
}

.contact {
    margin-right: 2vw;
}

.nav-footer h5, 
.contact h5, 
.address-footer h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #4D5459;
}


.nav-footer a,
.contact a,
.address-footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #4D5459;
}

.contact a,
.address-footer p {
    margin-left: 16px;
}

.line-footer {
    min-width: 0.2px;
    height: 220px;
    background-color: #E9841A;
    margin: 0 2vw 0 2vw;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 251px;
    height: 171px;
}

.contact-phone, .contact-mail, .contact-vk {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address-footer-wrap {
    /* position: relative; */
}

.address-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 127px;
}

.address-street, .working-hours {
    display: flex;
    flex-direction: row;
}

.address-street {

}

.working-hours {

}

.privacy-policy {
    margin-top: 19px;
}
.privacy-policy p, .privacy-policy a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4D5459;
}

/* @media (max-width: 2560px) {
    .logo-wrap-footer {
        right: 20%;
    }
}

@media (max-width: 1920px) {
    .logo-wrap-footer {
        right: 28%;
    }
}

@media (max-width: 1440px) {
    .logo-wrap-footer {
        right: 28%;
    }
} */

@media (max-width: 1200px) {
    .footer {

    }
    .footer .container {

    }
}

@media (max-width: 1100px) {
    .map {
        display: none;    }
}


@media (max-width: 992px) {
    .footer {

    }
    .footer .container {

    }
}

@media (max-width: 768px) {
    .footer {

    }
    .footer .container {

    }
}