.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 638px;
	justify-content: space-between;
    align-items: center;

}

.header-upper-block {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	height: 90px;
	background: #EDEFF0;
	z-index: 1070;
}

.upper-block-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1440px;
	/* min-width: 1440px; */
	height: 90px;
	background: #EDEFF0;
}

.logo-block {
	display: flex;
	flex-direction: row;
	/* min-width: 88px;
	min-height: 88px; */
}

.logo-block img {
	width: 116px;
	height: 99px;
}

.text-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 179px;
}

.text-logo h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.text-logo span {
	color: #E9841A;
}

.text-logo p {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;
/* margin-right: 60px; */
}

.line-header {
	min-width: 0.2px;
	height: 60px;
	background-color: #E9841A;
	margin: 0 2.5vw 0 2.5vw;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 327px;
	width: 15vw;
}

.nav-header a {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 16px;
	color: #4D5459;
}

.scale:hover {
	transform: scale(1.3);
}

.nav-header ul {
	width: 15vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-header a {
	transition: 1s;
}

.phone {
	display: flex;
	min-width: 200px;
}

.phone img, .address img  {
	width: 28px;
	height: 28px;
}

.phone a {
	padding-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #000000;
}

.address {
	display: flex;
	align-items: center;
}

.address-text-wrap {
	margin-left: 10px;
	margin-right: 10px;
}

.address-text-wrap a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #4D5459;
}

.address-text-wrap p {
	width: 154px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #111111;
}

.head-mobile {
	display: none;
}

@media (max-width: 1200px) {
	.nav-header {
		display: none;
	}

	.line-header {
		display: none;
	}

	.upper-block-wrap {
		width: 100%;
		justify-content: space-evenly;
		margin: 0;
	}
}

@media (max-width: 992px) {
	.header {

	}
	.header .container {

	}
}

@media (max-width: 768px) {
	.text-logo {
		display: none;
	}
} 


@media (max-width: 425px) {
	.header {
		height: 100vh;
	}

	.logo-block {
		margin-left: 60%;
	}

	.text-logo {
		display: none;
	}

	.nav-header, .line-header, .slider {
		display: none;
	}
	
	.head-mobile-wrap {
		width: 100%;
		height: 100%;
		background: url("/img/slide-1.jpg") no-repeat;
		background-size: cover;
		background-position: 50% 0;
	}
}