.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 638px;
	justify-content: space-between;
    align-items: center;
}

.header-slider img {
	width: 100%;
	height: 553px;
}

.header-upper-block {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	height: 90px;
	background: #EDEFF0;
	z-index: 1070;
}

.upper-block-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1440px;
	/* min-width: 1440px; */
	height: 90px;
	background: #EDEFF0;
}

.logo-block {
	display: flex;
	flex-direction: row;
	min-width: 88px;
}

.text-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 179px;
}

.text-logo h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.text-logo span {
	color: #E9841A;
}

.text-logo p {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;
/* margin-right: 60px; */
}

.line-header {
	min-width: 0.2px;
	height: 60px;
	background-color: #E9841A;
	margin: 0 2.5vw 0 2.5vw;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 327px;
	width: 15vw;
}

.nav-header a {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 16px;
	color: #4D5459;
}

.scale:hover {
	transform: scale(1.3);
}

.nav-header ul {
	width: 15vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-header a {
	transition: 1s;
}

.phone {
	display: flex;
	min-width: 200px;
}

.phone img, .address img  {
	width: 28px;
	height: 28px;
}

.phone a {
	margin-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #000000;
}

.address {
	display: flex;
	align-items: center;
}

.address-text-wrap {
	margin-left: 10px;
	margin-right: 10px;
}

.address-text-wrap a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #4D5459;
}

.address-text-wrap p {
	width: 154px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #111111;
}

.header-slider {
	width: 100%;
}

.header__slide-text-wrap {
	margin-left: 20%;
}

.header__slide-text {
	position: absolute;
	top: 15%;
}

.header__slide-text h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #EDEFF0;
	margin-bottom: 48px;
}

.header__slide-text span {
	color: #E9841A;
}

.header__slide-text p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #EDEFF0;
	margin-bottom: 18px;
}

.header__slide-text-button {
	margin-top: 48px;
}

.header__slide-text-button a:nth-child(even) {
	border: 2px solid #F7931E;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	/* padding: 0px 10px 0px 10px; */
}

.header__slide-text-button a:nth-child(odd) {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background: #E9841A;
	border-radius: 5px;
	padding: 11px 25px 11px 25px;
	margin-right: 30px;
}

.header__slide-text-button a {
	padding: 9px 10px 9px 10px;
}

.header__slide-text-button p {
	display: none;
}

.slider-line {
	background-color: #E9841A;
	width: 0.2px;
	height: 120px;
	position: absolute;
	top: 48%;
	left: 12.9%;
}

.head-mobile {
	display: none;
}

@media (max-width: 1200px) {
	.nav-header {
		display: none;
	}

	.line-header {
		display: none;
	}

	.upper-block-wrap {
		width: 100%;
		justify-content: space-evenly;
		margin: 0;
	}
}

.slideText h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #EDEFF0;
	margin-bottom: 48px;
}

.slideText span {
	color: #E9841A;
}

.slideText p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #EDEFF0;
	margin-bottom: 18px;
}

.slideText a {
	padding: 9px 10px 9px 10px;
}

.button-wrap a:nth-child(even) {
	border: 2px solid #F7931E;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	/* padding: 0px 10px 0px 10px; */
}

.button-wrap a:nth-child(odd) {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background: #E9841A;
	border-radius: 5px;
	padding: 11px 25px 11px 25px;
}

@media (max-width: 992px) {
	.header {

	}
	.header .container {

	}
}

@media (max-width: 768px) {
	.text-logo {
		display: none;
	}
} 


@media (max-width: 425px) {  
	.header {
		height: max-content;
	}
	
	.header-upper-block {
		position: fixed;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #F7931E;
	}

	.upper-block-wrap {
		height: 70px;
	}

	.logo-block {
		margin-left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 36%;
		top: 35%;
	}

	.logo-block img {
		min-width: 84px;
		border-radius: 50%;
		/* border: solid 5px #EDEFF0; */
	}

	.border-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #EDEFF0;
		border-radius: 50%;
		width: 70px;
		height: 70px;

		/* border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #F7931E; */
	}

	.text-logo {
		display: none;
	}

	.line-header {}

	.nav-header {}

	.nav-header, .line-header {
		display: none;
	}

	.scale {}

	.phone {
		order: -1;
	}

	.phone img {
		width: 22px;
		margin-left: 5px;
	}

	.phone a {
		font-weight: 700;
		font-size: 14px;
		line-height: 12px;
		display: flex;
		align-items: center;
		color: #000000;
		margin-left: 5px;
	}

	.phone span {
		display: none;
	}

	.address img {
		width: 22px;
	}

	.address-text-wrap {
		margin-right: 0;
		margin-left: 5px;
	}

	.address-text-wrap a {
		width: 100px;
	}

	.address-text-wrap p {
		display: none;
	}

	.header-slider {
		display: none;
	}

	.head-mobile {
		margin-top: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 533px;
		object-fit: cover;
	}

	.head-mobile img {
		height: 100%;
		object-fit: cover;
	}
	
	.head__mobile-text {
		position: absolute;
		top: 20%;
		left: 10%;
		text-align: center;
		width: 80%;
	}

	.head__mobile-text h2 {
		font-weight: 700;
		font-size: 26px;
		line-height: 22px;
		text-align: center;
		color: #EDEFF0;
		margin-bottom: 24px;
	}

	.head__mobile-text span {
		color: #E9841A;
	}

	.head__mobile-text p {
		font-weight: 100;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #EDEFF0;
		margin-bottom: 24px;
	}

	.head__mobile-text-button {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 60px;
		text-align: center;
	}

	.head__mobile-text-button a {
		width: 241px;
		height: 40px;
		margin-bottom: 24px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #FFFFFF;
	}

	.head__mobile-text-button a:nth-child(even) {
		background: #E9841A;
		border-radius: 5px;
		padding: 11px 25px 11px 25px;

	}

	.head__mobile-text-button a:nth-child(odd) {
		border: 2px solid #F7931E;
		border-radius: 5px;
	}

	.head__mobile-text-button a {
		padding: 9px 10px 9px 10px;
	}

	.head__mobile-text-button p {
		display: none;
	}

	.open-hours {}

	.slider-line {
		display: none;
	}
}