@import "normalize.css";
@import "base.css";
@import "container.css";
@import "header.css";
@import "slider-head.css";
@import "reviews.css";
@import "footer.css";

.landing-page {
    /* padding-top: 60px; */
    flex: 1 1 auto;
}

.advantage {
    width: 100%;
    height: 340px;
    background: #EDEFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.advantage h2 {
    display: none;
}

.advantage-border-shadow {
    display: flex;
    flex-direction: row;
}

.advantage-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 728px;
    width: 100%;
}

.advantage-block {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 240px;
}

.advantage-block:nth-child(1){
    margin-left: 4vw;
}

.advantage-icon {
    width: 60px;
    width: 60px;
    /* padding-top: 10px; */
}

.text-wrap {
    padding-top: 24px;
}

.text-wrap h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: calc(1rem + 1.13vw);
    /* font-size: 36px; */
    line-height: 44px;
    color: #000000;
}

.text-wrap p {
    margin-top: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.line-advantage {
    min-width: 0.2px;
    height: 240px;
    background-color: #E9841A;
    margin: 0 4vw 0 4vw;
}


    /* блок Наши услуги начало */
.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background: #111111;
}

.our-services-wrap {
    /* width: 70vw; */
    min-width: 500px;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin-top: 24px;
}

.our-services h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #E9841A;
    text-align: center;
    margin-top: -30px;
}

.our-services-block {
    display: flex;
    flex-direction: column;
    width: calc(239px + 10vw);
    height: 300px;
    border: 1px solid #F7931E;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 24px;
}

.our-services-icons {
    padding: 20px 0 0 33px;
}

.our-services-block img {
    padding: 20px 0 0 33px;
    width: 90px;
    height: 90px;

}

.services-text-wrap {
    margin: 24px;
}

.services-text-wrap h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #EDEFF0;
}

.services-text-wrap p {
    padding-top: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #E5E5E5;
}
/* блок Наши услуги конец */

/* Блок Скидка - начало */
.discount {display: flex;
    flex-direction: column;
    justify-content: center;
}

.discount-banner {
    width: 100%;
    height: 468px;
    background: url("../img/discount-banner.jpg") no-repeat;
    background-size: cover;
}

.review-discount {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 341px;
    background: #EDEFF0;
    box-sizing: content-box;
}

.review-discount-text {
    margin: 60px 6vw 0 0;
}

.review-discount-text h2 {
    width: 468px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
}

.review-discount-text p {
    margin-top: 48px;
    width: 468px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4D5459;
}

.review-discount-form {
    width: 600px;
    height: 430px;
    margin-top: -200px;
    background: #FFFFFF;
    border: 1px solid #9CA4A7;
    border-radius: 5px;
}

.review-discount-form h6 {
    margin: 51px 57px 60px 56px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    color: #111111;
}

.review-discount-form span {
    color: #E9841A;
}

.review-discount-form ol {
    width: 478px;
    height: 84px;
    margin: 51px 57px 60px 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4D5459;
}

.review-discount-form p {
    margin: 12px 0 0 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9CA4A7;
}

.form {
    margin: 51px 57px 0 50px;
}

.discount-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 16px 9px 16px;
    background: #E9841A;
    border-radius: 5px;
}
/* Блок Скидка - конец */

/* Блок О нас - начало */
.about-us {
    display: flex;
    justify-content: center;
    background: #111111;
}

.about-us-img {
    width: 55vw;
    height: 502px;
    background: url("../img/about-us.jpg") no-repeat right;
    background-size: cover;
    background-color: #111111;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 45%;
    height: 502px;
    background: #E9841A;
}

.about-us-text h2 {
    margin: 1vw 0 2vw 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
}

.about-us-text p {
    /* max-width: 30vw; */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: calc(1rem + 0.1vw);
    line-height: 21px;
    color: #111111;
    margin: 0 calc(42px + 2vw) 0 calc(33px + 1vw);
}
/* Блок О нас - конец */

/* UTP блок начало */
.utp-block {
    width: 100%;
    height: 748px;
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utp-block h2 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    color: #E9841A;
}

.utp {
    width: max-content;
    height: max-content;
    margin-top: 49px;
}

.utp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.utp-icon {
    min-width: 60px;
    height: 60px;
    background: url("../img/check-mark-icon.svg") no-repeat;
    background-size: cover;
    margin-right: 40px;
}

.utp-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.utp-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 21px;
}

.utp-text h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #EDEFF0;
    width: 357px;
    margin-right: 2vw;
}

.utp-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #EDEFF0;
    }

.hr {
    width: 100%;
    height: 2px;
    min-height: 0.2px;
    background: #E9841A;
    margin-top: 21px;
}

/* UTP блок конец */

@media (max-width: 1200px) {
    .landing-page {

    }
    
    .advantage {

    }
    
    .advantage-wrap {

    }
    
    .advantage-block {

    }
    
    .icon-block {

    }
    
    .text-wrap {

    }
    
    .text-wrap h2 {

    }
    
    .text-wrap p {

    }
    
    .line-our-services {

    }
    
    
    /* блок Наши услуги начало */
    .our-services {

    }
    
    .our-services-wrap {

    }
    
    .our-services h2 {

    }
    
    .our-services-block {

    }
    
    .our-services-icons {

    }
    
    .services-text-wrap {

    }
    
    .services-text-wrap h3 {

    }
    
    .services-text-wrap p {

    }
    
    /* блок Наши услуги конец */
    
    /* Блок Скидка - начало */
    .discount {
    }
    
    .discount-banner {

    }
    
    .review-discount {
        height: 741px;
        flex-direction: column;
        align-items: center;
    }
    
    .review-discount-text {
        margin-top: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .review-discount-text h2 {
        margin-top: -600px ;
    }
    
    .review-discount-text p {

    }
    
    .review-discount-form {

    }
    
    .review-discount-form h6 {

    }
    
    .review-discount-form span {
    }
    
    .review-discount-form ol {

    }
    
    .review-discount-form p {

    }
    
    .form {
    }
    
    .discount-button {

    }
    
    /* Блок Скидка - конец */
    
    /* Блок О нас - начало */
    .about-us {

    }
    
    .about-us-img {

    }
    
    .about-us-text {

    }
    
    .about-us-text h2 {


    }
    
    .about-us-text p {

    }
    
    /* Блок О нас - конец */
    
    /* UTP блок начало */
    .utp-block {
        height: max-content;
        padding-bottom: 2vh;
    }
    
    .utp-block h2 {
        margin-top: 40px;
    }
    
    .utp {
        align-items: center;

        
    }
    
    .utp-container {}

    .utp-icon {}

    .utp-wrap {}

    .utp-text {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .utp-text h3 {}

    .utp-text p {}

    .hr {}
}
@media (max-width: 992px) {
    .landing-page {

    }
}
@media (max-width: 768px) {
    .our-services {
        height: 120vh;
    }
    
    .our-services-wrap {
        display: flex;
        flex-direction: column;

    }

    .our-services-block {
        width: calc(400px + 10vw);
    }

    .services-text-wrap {}
} 

@media (max-width: 425px) {
    .landing-page {}
    
    .advantage {
        flex-direction: column;
        height: max-content;
        padding-bottom: 32px;
    }

    .advantage h2 {
        margin-top: 32px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #111111;
    }

    .advantage span {
        color: #E9841A;
    }
    
    .advantage-wrap {}
    
    .advantage-border-shadow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 26px;
        background: #EDEFF0;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .advantage-block {
        width: 300px;
        height: 200px;
    }

    .advantage-block:nth-child(1) {
        margin-left: 0;
    }
    
    .icon-block {}
    
    .text-wrap {}
    
    .text-wrap h2 {}
    
    .text-wrap p {}
    
    .line-advantage {
        width: 80vw;
        height: 0.2px;
        background-color: #E9841A;
        margin: 4vw 0 4vw 0;
    }
    
    
    /* блок Наши услуги начало */
    .our-services {
        width: 100%;
        height: max-content;
    }
    
    .our-services-wrap {
        align-items: center;
    }
    
    .our-services h2 {
        margin-top: 40px;
    }
    
    .our-services-block {
        width: 90vw;
        margin: 0;
        margin-bottom: 24px;
    }
    
    .our-services-icons {}
    
    .services-text-wrap {}
    
    .services-text-wrap h3 {}
    
    .services-text-wrap p {}
    
    /* блок Наши услуги конец */
    
    /* Блок Скидка - начало */
    .discount {}
    
    .discount-banner {}
    
    .review-discount {}
    
    .review-discount-text {}
    
    .review-discount-text h2 {}
    
    .review-discount-text p {}
    
    .review-discount-form {}
    
    .review-discount-form h6 {}
    
    .review-discount-form span {}
    
    .review-discount-form ol {}
    
    .review-discount-form p {}
    
    .form {}
    
    .discount-button {}
    
    /* Блок Скидка - конец */
    
    /* Блок О нас - начало */
    .about-us {}
    
    .about-us-img {}
    
    .about-us-text {}
    
    .about-us-text h2 {}
    
    .about-us-text p {}
    
    /* Блок О нас - конец */
    
    /* UTP блок начало */
    .utp-block {}
    
    .utp-block h2 {}
    
    .utp {
        /* display: grid;
        grid-template-columns: 60px 357px 1fr;
        grid-template-rows: 60px 1px 60px 1px 60px 1px 60px 1px 60px;
        grid-column-gap: 0px;
        grid-row-gap: 20px; */
    
        display: grid;
        grid-template-columns: 0.2fr repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 40px;
    
        width: 1047px;
        height: 460px;
        margin: auto;
    
    }
    
    .utp div:nth-child(3n+1) {}
    
    .utp div:nth-child(3n+2) {}
    
    .utp div:nth-child(3n+3) {}
    
    .utp hr:nth-child(3n+4) {}
}


