@import "normalize.css";
@import "base.css";
@import "container.css";
@import "header.css";
@import "reviews.css";
@import "footer.css";

.landing-page {
    flex: 1 1 auto;
}

.advantage {
    width: 100%;
    height: 340px;
    background: #EDEFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.advantage h2 {
    display: none;
}

.advantage-border-shadow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.advantage-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 728px;
    width: 100%;
}

.advantage-block {
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 240px;
    padding-left: 4vw;
}

/* .advantage-block:nth-child(1){
    margin-left: 4vw;
} */

.advantage-icon {
    width: 60px;
    width: 60px;
    /* padding-top: 10px; */
}

.text-wrap {
    padding-top: 24px;
}

.text-wrap h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: calc(1rem + 1.13vw);
    /* font-size: 36px; */
    line-height: 44px;
    color: #000000;
}

.text-wrap p {
    margin-top: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.line-advantage {
    min-width: 0.2px;
    height: 240px;
    background-color: #E9841A;
    margin: 0 4vw 0 4vw;
}


    /* блок Наши услуги начало */
.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background: #111111;
}

.our-services-wrap {
    /* width: 70vw; */
    min-width: 500px;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin-top: 24px;
}

.our-services h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #E9841A;
    text-align: center;
    margin-top: -30px;
}

.our-services-block {
    display: flex;
    flex-direction: column;
    width: calc(239px + 10vw);
    height: 300px;
    border: 1px solid #F7931E;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 24px;
}

.our-services-icons {
    padding: 20px 0 0 33px;
}

.our-services-block img {
    padding: 20px 0 0 33px;
    width: 90px;
    height: 90px;

}

.services-text-wrap {
    margin: 24px;
}

.services-text-wrap h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #EDEFF0;
}

.services-text-wrap p {
    padding-top: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #E5E5E5;
}
/* блок Наши услуги конец */

/* Блок Скидка - начало */
.discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #EDEFF0;
}

.discount-banner {
    width: 100%;
    height: 468px;
    background: url("../img/discount-banner.jpg") no-repeat;
    background-size: cover;
}

.review-discount {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 341px;
    box-sizing: content-box;
}

.review-discount-text {
    /* margin: 60px 6vw 0 0; */
    margin-top: 60px;
}

.review-discount-text h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
}

.review-discount-text p {
    margin-top: 48px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4D5459;
}

.review-discount-form {
    width: 600px;
    width: 42vw;
    max-width: 600px;
    min-width: 500px;
    height: 430px;
    margin-top: -200px;
    background: #FFFFFF;
    border: 1px solid #9CA4A7;
    border-radius: 5px;
}

.review-discount-form h6 {
    margin: 51px 57px 60px 2vw;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    color: #111111;
}

.review-discount-form span {
    color: #E9841A;
}

.review-discount-form ol {
    margin: 51px 57px 60px 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4D5459;
}

.review-discount-form p {
    margin: 12px 0 0 2vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9CA4A7;
}

.form {
    margin: 51px 57px 0 2vw;
}

.discount-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 16px 9px 16px;
    background: #E9841A;
    border-radius: 5px;
}
/* Блок Скидка - конец */

/* Блок О нас - начало */
.about-us {
    display: flex;
    justify-content: center;
    background: #111111;
}

.about-us-img {
    width: 55vw;
    height: 502px;
    background: url("../img/about-us.jpg") no-repeat right;
    background-size: cover;
    background-color: #111111;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 45%;
    height: 502px;
    background: #E9841A;
}

.about-us-text h2 {
    margin: 1vw 0 2vw 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
}

.about-us-text p {
    /* max-width: 30vw; */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: calc(1rem + 0.1vw);
    line-height: 21px;
    color: #111111;
    margin: 0 calc(42px + 2vw) 0 calc(33px + 1vw);
}
/* Блок О нас - конец */

/* UTP блок начало */
.utp-block {
    width: 100%;
    height: 748px;
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utp-block h2 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    color: #E9841A;
}

.utp {
    width: max-content;
    height: max-content;
    margin-top: 49px;
}

.utp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.utp-icon {
    min-width: 60px;
    height: 60px;
    background: url("../img/check-mark-icon.svg") no-repeat;
    background-size: cover;
    margin-right: 40px;
}

.utp-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.utp-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 21px;
}

.utp-text h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #EDEFF0;
    width: 357px;
    margin-right: 2vw;
}

.utp-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #EDEFF0;
    }

.hr {
    width: 100%;
    height: 2px;
    min-height: 0.2px;
    background: #E9841A;
    margin-top: 21px;
}
/* UTP блок конец */
@media (max-width: 1200px) {
    .review-discount {
        width: 100%;
    }

    .review-discount-text{

    }
}

@media (max-width: 1042px) {
    .utp {
        margin-bottom: 40px;
    }

    .utp-block {
        height: max-content;
    }

    .utp-text {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width: 1024px) {
    .review-discount {
        flex-direction: column;
        align-items: center;
        height: 70vh;
    }

    .review-discount-text {
        margin: 0 0 0 0;
    }
}

@media (max-width: 992px) {
    .landing-page {

    }
}
@media (max-width: 768px) {
    .our-services {
        /* height: 120vh; */
        height: max-content;
    }

    .our-services h2 {
        font-size: calc(1rem + 2.5vw);
        margin-top: 5vw;
    }
    
    .our-services-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw;

    }

    .our-services-block {
        width: calc(400px + 10vw);
    }

    .services-text-wrap {}

    /* .wrap-form-reviews h2 {
        font-size: calc(1rem + 1.93vw);
        text-align: center;
    } */


    .form-reviews {
        width: 77vw;
    }
} 

@media (max-width: 425px) {
    .landing-page {}
    
    .advantage {
        flex-direction: column;
        height: max-content;
        padding-bottom: 32px;
    }

    .advantage h2 {
        margin-top: 32px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #111111;
    }

    .advantage span {
        color: #E9841A;
    }
    
    .advantage-wrap {}
    
    .advantage-border-shadow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 26px;
        background: #EDEFF0;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .advantage-block {
        width: 300px;
        height: 200px;
    }

    .advantage-block:nth-child(1) {
        margin-left: 0;
    }
    
    .icon-block {}
    
    .text-wrap {}
    
    .text-wrap h2 {}
    
    .text-wrap p {}
    
    .line-advantage {
        width: 80vw;
        height: 0.2px;
        background-color: #E9841A;
        margin: 4vw 0 4vw 0;
    }

    /* UTP блок-начало */
    .utp-block {
        height: max-content;
    }
    


    .utp-container {
        flex-direction: column;
    }

    .hr {
        width: 90%;
    } 

    /* UTP блок-конец */

    .our-services {
        width: 100%;
        height: max-content;
    }
    
    .our-services-wrap {
        align-items: center;
    }
    
    .our-services h2 {
        margin-top: 40px;
    }
    
    .our-services-block {
        width: 90vw;
        margin: 0;
        margin-bottom: 24px;
    }
    
    .our-services-icons {}
    
    .services-text-wrap {}
    
    .services-text-wrap h3 {}
    
    .services-text-wrap p {}
    
    /* блок Наши услуги конец */
    
    /* Блок Скидка - начало */
    .discount {}
    
    .discount-banner {}
    
    .review-discount {}
    
    .review-discount-text {
        align-items: center;
    }
    
    .review-discount-text h2 {
        font-size: 26px;
        text-align: center;
    }

    .review-discount-text p {}
    
    .review-discount-form {
        min-width: 95%;
        height: max-content;
    }
    
    .review-discount-form h6 {
        margin: 0;
    }
    
    .review-discount-form span {}
    
    .review-discount-form ol {}
    
    .review-discount-form p {}
    
    .form {}
    
    .discount-button {}
    
    /* Блок Скидка - конец */
    
    /* Блок О нас - начало */
    .about-us {
        flex-direction: column;
    }
    
    .about-us-img {
        width: 100%;
    }
    
    .about-us-text {
        width: 100%;
    }
    
    .about-us-text h2 {}
    
    .about-us-text p {}
    
    /* Блок О нас - конец */
    
    /* UTP блок начало */
    .utp-block {}
    
    .utp-block h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        width: 90%;
    }
    
    .utp {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .utp-wrap {
        display: flex;
        align-items: center;
        width: 80vw;
        height: max-content;
    }

    .utp-text {
        display: flex;
        flex-direction: column;
        height: max-content;
        align-items: start;
        margin-left: 15px;
    }
    
    .hr {
        width: 80vw;
    }

    .utp-container {
        min-width: 80vw;
        height: max-content;
        margin-top: 24px;
        flex-direction: row;
    }

    .utp-icon {
        min-width: 28px;
        height: 28px;
        margin-bottom: 50px;
        margin-right: 0px;
    }



    .utp-text h3 {
        margin: 0;
        padding: 0;
    }

    .utp-text p {
        margin: 0;
            padding: 0;
    }

    .utp div:nth-child(3n+1) {}
    
    .utp div:nth-child(3n+2) {}
    
    .utp div:nth-child(3n+3) {}
    
    .utp hr:nth-child(3n+4) {}

    .wrap-form-reviews h2 {
        /* font-size: calc(1rem + 1.93vw); */
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .utp-text h3 {
        width: 300px;
        font-size: 20px;
    }

    .utp-text p {
        width: 300px;
        font-size: 18px;
    }
}


