.reviews {
    width: 100%;
    height: 853px;
    background-color: #E5E5E5;
}

.reviews-wrap {
    width: 100%;
    /* height: 615px; */
    margin: auto;
}

.reviews-wrap h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
    padding: 60px 0 48px 20vw;
}

.reviews__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #4D5459;
    padding-left: 20vw;
}

.rev-slider {
    width: 70%;
    box-sizing: border-box;
    /* width: 100%; */
    margin-left: 20vw;
    margin-top: 100px;
    /* min-width: 976px; */
}

.rev-slide {
    /* margin: 0 20px 0 20px; */
    margin-right: 26px;
}

.rev-slide__content-name {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 25px;
    width: 370px;
    height: 79px;
    background: #E9841A;
    border: 1px solid #9CA4A7;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
}

.rev-slide__content-name h6 {
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #111111;
}

.rev-slide__content-name p {
    margin-top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    display: block;
}

.rev-slide__content-text {
    width: 370px;
    height: 270px;
    background: #FFFFFF;
    border: 1px solid #9CA4A7;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
}

.rev-slide__content-text {
    padding: 35px 15px 35px 25px;
}

.rev-slide__content-text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4D5459;
}

.rev-slick-prev img {
    position: absolute;
    left: 0;
    top: 50%;
    color: red
}

.rev-slick-next {

}

.rev-slider_arrow {

}

.rev-slider_dots {

}

.wrap-form-reviews {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 60%;
    height: 350px;
    background-color: #E9841A;
}

.wrap-form-reviews h2 {
    width: 448px;
    height: 88px;
    margin: 86px 5vw 0 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #111111;
}

.form-reviews {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 370px;
    background: #FFFFFF;
    border: 1px solid #9CA4A7;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -90px;
        margin-right: 2vw;
}

.form-reviews h6 {
    padding: 30px 0 70px 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4D5459;
}

.block-alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 136px;
    padding-right: 8px;
}

input {
    width: 250px;
    height: 40px;
    border: 1px solid #9CA4A7;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

input::placeholder, textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #9CA4A7;
}

.right-side {}

.name, .email, .tel {
    padding-left: 16px;
}

textarea {
    padding: 9px 0 0 12px;
    resize: none;
    width: 270px;
    height: 136px;
    border: 1px solid #9CA4A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #9CA4A7;
}

.button-submit {
    width: 190px;
    height: 40px;
    background: #E9841A;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 33px 0 16px 37px;
}

.form-reviews p {
    margin-left: 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9CA4A7;
}

@media (max-width: 1085px) {
    .block-alignment {
        /* flex-direction: column; */
    }

    .wrap-form-reviews {
        flex-direction: column;
        align-items: center;
        height: 650px;
    }

        .wrap-form-reviews h2 {
            margin: 0 0 40px 0;        }

    .form-reviews {
        margin-top: 0;
    }
}


@media (max-width: 768px) {
    .wrap-form-reviews {
        padding-top: 40px;
        justify-content: start;
    }

    .form-reviews h6 {
        padding: 30px 0 30px 37px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .form-reviews {
        margin: 0;
        height: max-content;
    }

    .form-reviews p {
        width: 190px;
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #9CA4A7;
    }

    .right-side {
        margin-top: 8px;
    }

    .button-submit {
        margin: 0;
        margin-top: 15px;
    }

    .block-alignment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        padding-right: 0;
    }

    .left-side input {
        width: 300px;
        height: 40px;
    }

    textarea {
        width: 300px;
        height: 70px;
    }
}









@media (max-width: 425px) {

    .reviews-wrap {
        width: 100%;
        text-align: center;
    }

    .rev-slider {
        width: 300vw;
        margin-top: 100px;
    }

    .rev-slide {

    }

    .rev-slide__content {width: 300px;}
    .rev-slide__content-name {width: 300px;}
    .rev-slide__content-text {width: 300px;}

    .slick-list {
        margin: 0 !important;
        padding: 0 !important;
    }



    .wrap-form-reviews {
        padding-top: 40px;
        justify-content: start;
    }

    .wrap-form-reviews h2 {
        width: 314px;
    }

    .form-reviews h6 {
        padding: 30px 0 30px 37px;
    }

    form {
    }

    .form-reviews {
        min-width: 100%;
        margin: 0;
        height: max-content;
    }

    .form-reviews p {
        width: 190px;
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #9CA4A7;
    }

    .right-side {
        margin-top: 8px;
    }

    .button-submit {
        margin: 0;
        margin-top: 15px;
    }

    .block-alignment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        padding-right: 0;
    }

    .left-side input {
        width: 300px;
        height: 40px;
    }

    textarea {
        width: 300px;
        height: 70px;
    }
}